body {
    background: #aaa;
}

#box {
    width: 150px;
    height: 150px;
    background-color: red;
    /*padding: 10px 15px 20px 25px;*/
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#box:active {
    outline: 2px solid white;
}

.view {
    width: 150px;
    height: 150px;
    background-color: green;
    transition: all .5s ease-in;
    opacity: 0;
    text-decoration: line-through;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 150px;
    outline: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.father {
    font-size: 2rem;
}

.son {
    font-size: 200%;
}
